@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0%;
  overflow: hidden;
  background-color: white;
}

.custom-loader-text{
        color: red;
}

.annotation {
        cursor: pointer;
        outline: none;
        border: none;
        font-size: 8px;
        font-weight: 300;
        background: black;
        color: #f0f0f0;
        padding: 2px 10px;
        border-radius: 20px;
        letter-spacing: 1px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
      }

@layer base {
                :root {
                        --color-bkg: 0deg 100% 100%;
                        --color-content: 0deg 100% 0%;
                        --color-accent1: 0deg 100% 0%;
                        --color-accent2: 0deg 100% 100%;
                }
        @media (prefers-color-scheme:dark) {
                :root {
                        --color-bkg: 0deg 100% 0%;
                        --color-content: 0deg 100% 100%;
                        --color-accent1: 0deg 100% 100%;
                        --color-accent2: 0deg 100% 0%;
                }
        }
}

svg g polyline{
        stroke: white;
}

@media (prefers-color-scheme:dark) {
        svg g polyline{
                stroke: black;
        }
}

@font-face {
  font-family: 'leony';
  src: url('./fonts/leony.ttf') format(truetype);
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'codecl';
  src: url('./fonts/CodecPro-ExtraLight.ttf') format(truetype);
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'codect';
  src: url('./fonts/CodecPro-Thin.ttf') format(truetype);
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'retro';
  src: url('./fonts/Retrophile-Regular.ttf') format(truetype);
  font-weight: lighter;
  font-style: normal;
}

@font-face {
        font-family: 'noto';
        src: url('./fonts/NotoSerifDisplay-Thin.ttf') format(truetype);
        font-weight: lighter;
        font-style: normal;
}

@font-face {
        font-family: 'tale';
        src: url('./fonts/Talesha Cond 02 Slant.ttf') format(truetype);
        font-weight: lighter;
        font-style: normal;
}

/* animation */
.slide-in-blurred-bottom {
	-webkit-animation: slide-in-blurred-bottom 0.5s cubic-bezier(0.860, 0.000, 0.070, 1.000) both;
	        animation: slide-in-blurred-bottom 0.5s cubic-bezier(0.860, 0.000, 0.070, 1.000) both;
}

.slide-in-blurred-bottom:nth-child(2) {
	-webkit-animation: slide-in-blurred-bottom 0.5s cubic-bezier(0.860, 0.000, 0.070, 1.000) 0.3s both;
	        animation: slide-in-blurred-bottom 0.5s cubic-bezier(0.860, 0.000, 0.070, 1.000) 0.3s both;
}

.slide-in-blurred-bottom:nth-child(3) {
	-webkit-animation: slide-in-blurred-bottom 0.5s cubic-bezier(0.860, 0.000, 0.070, 1.000) 0.5s both;
	        animation: slide-in-blurred-bottom 0.5s cubic-bezier(0.860, 0.000, 0.070, 1.000) 0.5s both;
}

.slide-in-blurred-bottom:nth-child(4) {
	-webkit-animation: slide-in-blurred-bottom 0.5s cubic-bezier(0.860, 0.000, 0.070, 1.000) 0.2s both;
	        animation: slide-in-blurred-bottom 0.5s cubic-bezier(0.860, 0.000, 0.070, 1.000) 0.2s both;
}

.slide-in-blurred-bottom:nth-child(5) {
	-webkit-animation: slide-in-blurred-bottom 0.5s cubic-bezier(0.860, 0.000, 0.070, 1.000) 0.1s both;
	        animation: slide-in-blurred-bottom 0.5s cubic-bezier(0.860, 0.000, 0.070, 1.000) 0.1s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-8-30 18:5:58
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-blurred-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-blurred-bottom {
  0% {
    -webkit-transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
            transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-bottom {
  0% {
    -webkit-transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
            transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

.slide-out-blurred-top {
	-webkit-animation: slide-out-blurred-top 0.3s cubic-bezier(0.770, 0.000, 0.175, 1.000) both;
	        animation: slide-out-blurred-top 0.3s cubic-bezier(0.770, 0.000, 0.175, 1.000) both;
}

.slide-out-blurred-top:nth-child(2) {
	-webkit-animation: slide-out-blurred-top 0.3s cubic-bezier(0.770, 0.000, 0.175, 1.000) 0.3s both;
	        animation: slide-out-blurred-top 0.3s cubic-bezier(0.770, 0.000, 0.175, 1.000) 0.3s both;
}

.slide-out-blurred-top:nth-child(3) {
	-webkit-animation: slide-out-blurred-top 0.3s cubic-bezier(0.770, 0.000, 0.175, 1.000) 0.5s both;
	        animation: slide-out-blurred-top 0.3s cubic-bezier(0.770, 0.000, 0.175, 1.000) 0.5s both;
}

.slide-out-blurred-top:nth-child(4) {
	-webkit-animation: slide-out-blurred-top 0.3s cubic-bezier(0.770, 0.000, 0.175, 1.000) 0.2s both;
	        animation: slide-out-blurred-top 0.3s cubic-bezier(0.770, 0.000, 0.175, 1.000) 0.2s both;
}

.slide-out-blurred-top:nth-child(5) {
	-webkit-animation: slide-out-blurred-top 0.3s cubic-bezier(0.770, 0.000, 0.175, 1.000) 0.1s both;
	        animation: slide-out-blurred-top 0.3s cubic-bezier(0.770, 0.000, 0.175, 1.000) 0.1s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-8-30 21:48:33
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-out-blurred-top
 * ----------------------------------------
 */
 @-webkit-keyframes slide-out-blurred-top {
  0% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-1000px) scaleY(2) scaleX(0.2);
            transform: translateY(-1000px) scaleY(2) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
}
@keyframes slide-out-blurred-top {
  0% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-1000px) scaleY(2) scaleX(0.2);
            transform: translateY(-1000px) scaleY(2) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
}

.swing-in-bottom-fwd {
	-webkit-animation: swing-in-bottom-fwd 1s cubic-bezier(0.860, 0.000, 0.070, 1.000) 1s both;
	        animation: swing-in-bottom-fwd 1s cubic-bezier(0.860, 0.000, 0.070, 1.000) 1s both;
}

.swing-in-bottom-fwd:nth-child(2) {
	-webkit-animation: swing-in-bottom-fwd 1s cubic-bezier(0.860, 0.000, 0.070, 1.000) 1.7s both;
	        animation: swing-in-bottom-fwd 1s cubic-bezier(0.860, 0.000, 0.070, 1.000) 1.7s both;
}
.swing-in-bottom-fwd:nth-child(3) {
	-webkit-animation: swing-in-bottom-fwd 1s cubic-bezier(0.860, 0.000, 0.070, 1.000) 2.0s both;
	        animation: swing-in-bottom-fwd 1s cubic-bezier(0.860, 0.000, 0.070, 1.000) 2.0s both;
}
.swing-in-bottom-fwd2 {
	-webkit-animation: swing-in-bottom-fwd 1s cubic-bezier(0.860, 0.000, 0.070, 1.000) 2.5s both;
	        animation: swing-in-bottom-fwd 1s cubic-bezier(0.860, 0.000, 0.070, 1.000) 2.5s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-8-31 17:7:29
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation swing-in-bottom-fwd
 * ----------------------------------------
 */
 @-webkit-keyframes swing-in-bottom-fwd {
        0% {
          -webkit-transform: rotateX(100deg);
                  transform: rotateX(100deg);
          -webkit-transform-origin: bottom;
                  transform-origin: bottom;
          opacity: 0;
        }
        100% {
          -webkit-transform: rotateX(0);
                  transform: rotateX(0);
          -webkit-transform-origin: bottom;
                  transform-origin: bottom;
          opacity: 1;
        }
      }
      @keyframes swing-in-bottom-fwd {
        0% {
          -webkit-transform: rotateX(100deg);
                  transform: rotateX(100deg);
          -webkit-transform-origin: bottom;
                  transform-origin: bottom;
          opacity: 0;
        }
        100% {
          -webkit-transform: rotateX(0);
                  transform: rotateX(0);
          -webkit-transform-origin: bottom;
                  transform-origin: bottom;
          opacity: 1;
        }
      }


.puff-in-top {
	-webkit-animation: puff-in-top 1s cubic-bezier(0.860, 0.000, 0.070, 1.000) 2.5s both;
	        animation: puff-in-top 1s cubic-bezier(0.860, 0.000, 0.070, 1.000) 2.5s both;
}
/* ----------------------------------------------
 * Generated by Animista on 2023-9-1 22:52:33
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation puff-in-top
 * ----------------------------------------
 */
 @-webkit-keyframes puff-in-top {
        0% {
          -webkit-transform: scale(2);
                  transform: scale(2);
          -webkit-transform-origin: 50% 0%;
                  transform-origin: 50% 0%;
          -webkit-filter: blur(4px);
                  filter: blur(4px);
          opacity: 0;
        }
        100% {
          -webkit-transform: scale(1);
                  transform: scale(1);
          -webkit-transform-origin: 50% 0%;
                  transform-origin: 50% 0%;
          -webkit-filter: blur(0px);
                  filter: blur(0px);
          opacity: 1;
        }
      }
      @keyframes puff-in-top {
        0% {
          -webkit-transform: scale(2);
                  transform: scale(2);
          -webkit-transform-origin: 50% 0%;
                  transform-origin: 50% 0%;
          -webkit-filter: blur(4px);
                  filter: blur(4px);
          opacity: 0;
        }
        100% {
          -webkit-transform: scale(1);
                  transform: scale(1);
          -webkit-transform-origin: 50% 0%;
                  transform-origin: 50% 0%;
          -webkit-filter: blur(0px);
                  filter: blur(0px);
          opacity: 1;
        }
      }
      
.slide-out-blurred-right {
	-webkit-animation: slide-out-blurred-right 1s cubic-bezier(0.860, 0.000, 0.070, 1.000) both;
	        animation: slide-out-blurred-right 1s cubic-bezier(0.860, 0.000, 0.070, 1.000) both;
}

.slide-in-blurred-right {
	-webkit-animation: slide-in-blurred-right 0.6s cubic-bezier(0.860, 0.000, 0.070, 1.000) both;
	        animation: slide-in-blurred-right 0.6s cubic-bezier(0.860, 0.000, 0.070, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-9-11 23:32:47
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-out-blurred-right
 * ----------------------------------------
 */
 @-webkit-keyframes slide-out-blurred-right {
        0% {
          -webkit-transform: translateX(0) scaleY(1) scaleX(1);
                  transform: translateX(0) scaleY(1) scaleX(1);
          -webkit-transform-origin: 50% 50%;
                  transform-origin: 50% 50%;
          -webkit-filter: blur(0);
                  filter: blur(0);
          opacity: 1;
        }
        100% {
          -webkit-transform: translateX(1000px) scaleX(2) scaleY(0.2);
                  transform: translateX(1000px) scaleX(2) scaleY(0.2);
          -webkit-transform-origin: 0% 50%;
                  transform-origin: 0% 50%;
          -webkit-filter: blur(40px);
                  filter: blur(40px);
          opacity: 0;
        }
      }
      @keyframes slide-out-blurred-right {
        0% {
          -webkit-transform: translateX(0) scaleY(1) scaleX(1);
                  transform: translateX(0) scaleY(1) scaleX(1);
          -webkit-transform-origin: 50% 50%;
                  transform-origin: 50% 50%;
          -webkit-filter: blur(0);
                  filter: blur(0);
          opacity: 1;
        }
        100% {
          -webkit-transform: translateX(1000px) scaleX(2) scaleY(0.2);
                  transform: translateX(1000px) scaleX(2) scaleY(0.2);
          -webkit-transform-origin: 0% 50%;
                  transform-origin: 0% 50%;
          -webkit-filter: blur(40px);
                  filter: blur(40px);
          opacity: 0;
        }
      }
      

/* ----------------------------------------------
 * Generated by Animista on 2023-9-11 23:34:12
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-blurred-right
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-blurred-right {
        0% {
          -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
                  transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
          -webkit-transform-origin: 0% 50%;
                  transform-origin: 0% 50%;
          -webkit-filter: blur(40px);
                  filter: blur(40px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateX(0) scaleY(1) scaleX(1);
                  transform: translateX(0) scaleY(1) scaleX(1);
          -webkit-transform-origin: 50% 50%;
                  transform-origin: 50% 50%;
          -webkit-filter: blur(0);
                  filter: blur(0);
          opacity: 1;
        }
      }
      @keyframes slide-in-blurred-right {
        0% {
          -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
                  transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
          -webkit-transform-origin: 0% 50%;
                  transform-origin: 0% 50%;
          -webkit-filter: blur(40px);
                  filter: blur(40px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateX(0) scaleY(1) scaleX(1);
                  transform: translateX(0) scaleY(1) scaleX(1);
          -webkit-transform-origin: 50% 50%;
                  transform-origin: 50% 50%;
          -webkit-filter: blur(0);
                  filter: blur(0);
          opacity: 1;
        }
      }
      